*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__flex {
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 74.5rem;
  width: 90%;
}
.nav__bar {
  width: 100%;
}

.wrap_nav1 {
  display: flex;
}

.wrap_nav2 {
  width: 100%;
}

.buttonhide {
  display: none;
}

.hide_tnw {
  display: unset;
}

.first__nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 2rem;
  padding-left: 0.3125rem;
  padding-right: 0.625rem;
}

.first__nav a {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 0.8125rem;
  margin-left: 0.9375rem;
  color: grey;
}

.first__nav a:hover {
  color:white;
}

.second__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 ;
  background-color: white;
  height: 3rem;
}


.second__nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: sans-serif;
  font-size: 0.875rem;
  padding: 1.125rem 0.625rem 0;
  opacity: 0.5;
}

.second__nav a:hover {
  opacity: 1;
}

.buttonsearch {
  background-color: white;
  color: grey;
  border: none;
  border-bottom:  0.0625rem grey solid;
  height: 3rem;
  width: 3rem;
  font-size: 1.25rem;
  transform:rotate(90deg);
  opacity: 0.5;
}

.second__nav button:hover {
  opacity: 1;
}

.third__nav {
  background-color: #fbd329;
  margin: 1 0.625rem;
  padding: 0.25rem 1.25rem;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 0.875rem;
}

.face__articles {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.625rem;
  margin: 0.1rem 0.3rem;
}

.face__one{
  grid-column: 1;
  grid-row: 1/3;
  background:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), black),  url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/money-funding-series-a-gq-796x417.png);
  background-size: cover;
}

.face__two {
  grid-column: 2;
  grid-row: 1;
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/global-boardroom.jpg);
  background-size:contain;
}

.face__three {
  grid-column: 2;
  grid-row: 2;
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/09/Google-Play-Music-India-796x398.jpg);
  background-size: contain;
}

.face__logo {
  margin-top: 1rem;
  margin-left: 1rem;
  height: 7rem;
  max-height: 10rem;
  margin-bottom: 10rem;
}

.face__insigh {
  text-transform: uppercase;
  margin-left: 1rem;
  font-family: sans-serif;
  color: white;
  font-weight: 500;
}

.face__insigh3 {
  text-transform: uppercase;
  margin-left: 1rem;
  margin-top: 3rem;
  font-family: sans-serif;
  color: white;
  font-weight: 500;
  align-self: center;

}

.face__art {
  display: block;
  font-family: sans-serif;
  font-size: 3rem;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  grid-row: 7;
  margin-left: 1rem;
  text-align: left;
}

.face__art2 {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
  color: white;
  display: block;
  margin-left: 1rem;
  margin-top: 1rem;
}

.face__art3 {
  display: block;
  font-family: sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  grid-row: 2;
  margin-left: 1rem;

}

.face__author {
  margin-left: 1rem;
  color: white;
  font-family: sans-serif;
}

.face__author3{
  margin-left: 1rem;
  color: white;
  font-family: sans-serif;
}

.lastest__title {
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 1.4rem;
}

.lastest__title a {
  text-decoration: none;
  font-family: sans-serif;
  color: #f42;
}

.lastest__title a:hover {
  color:black;
}

.lastest__news {
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  align-items: center;
  min-width: 46.25rem;
  margin-left: 1rem;
}

.l__news {
  display: inline-flex;
  flex-flow: wrap;
  flex-direction: column;
  align-content: center;
  width: 18rem;
  height: 22rem;
}

.l__img {
  width: 16.875rem;
  height: 8.4375rem;
}

.l__link {
  width: 15.8125rem;
  height: 2.4375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: black;
}

.l__link:hover {
  box-shadow: inset 0  0 rgba(255,68,34,.25);
  color: #f42;
}

.l__author {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.875rem;
  color: gray;
}

.l__author:hover {
  color: black;
}

.hidden__funding {
  display: none;

}

.lastest__funding {
  margin-bottom: 2rem;
  margin-left: 1.4rem;
  margin-right: 1.1rem;
  max-width: 72rem;
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  justify-content: space-between;

}

.lastest__funding h2 {
  text-decoration: none;
  font-family: sans-serif;
  font-size:
  color: #f42;
}
.lastest__funding a {
  text-decoration: none;
  font-family: sans-serif;
  color: #f42;

}

.lastest__funding a:hover {
  color: black;
}

.lastest__border {
    border-left: 0.0625rem #f42 solid;
    margin-left: 1rem;
    padding-left: 1rem;
}

.last__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.last__funding {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 16.9375rem;
  display: inline-grid;
  grid-template-rows: 2.5rem 3.5625rem 5.125rem 4.25rem;
}

.last__img {
  margin-left: -4.375rem;
  margin-top: -2.5rem;
  width: 3.75rem;
  height: 3.75rem;
}

.last__owner {
  padding-left: 5rem;
  padding-top: 0.8rem;
  background-color: #f42;
  font-family: sans-serif;
  font-weight: bolder;
  color: white;
}

.last__cash {
  background: rgba(255,68,34,.08);
  padding-left: 5rem;
  padding-top: 0.8rem;
  font-family: sans-serif;
  font-weight: bolder;
}

.last__money {
  margin-top: -1.25rem;
}

.last__money1 {
   text-transform: uppercase;
   color: grey;
   font-size: 0.75rem;
   font-weight: lighter;
}

.last__contribution {
padding-left: 1rem;
padding-top: 1rem;
padding-bottom: 2rem;
font-family: sans-serif;
font-size: 0.75rem;
border-bottom: 0.0625rem solid #f42;
background: rgba(255,68,34,.03);
color: grey;
}

.last__contribution p {
  margin-top: 0.5rem;
}

.last__contribution i {
  color: black;
}

.last__contribution:hover {
  color: black;
}

.last__description {
  padding-top: 1rem;
  padding-left: 1rem;
  font-style: sans-serif;
  font-size: 0.75rem;
  color:grey;
  line-height: 1.25rem;
  background: rgba(255,68,34,.03);
}


#a__news {
  color: white;
  font-weight: bold;
}

.categories {
  display: flex;
  flex-wrap: wrap;

  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
}

.cate__tittle {
    text-decoration: none;
    color: #f42;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .cate__tittle a:hover {
    color: black;
    cursor: pointer;
    font-weight: bolder;
  }

.categories11 {
  padding: 1em;
  max-width: 24.125rem;
}

.categories11 a {
  text-decoration: none;
  color: #f42;
  font-weight: bolder;
  padding-bottom: 1rem;

}

.categories11 a:hover {
  color: black;
  cursor: pointer;
  font-weight: bolder;
}

.cate1 {
  background-image: linear-gradient(transparent, black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/FB-Avatar-Featured-796x416.jpg);
  width: auto;
  max-width: 25rem;
  height: 17.25rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
  color: white;
}

#cate11{
  background-image: linear-gradient(transparent, black), url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F05%2Fheader-image-pixel-4-motion-sense-soli-radar-chip.png&signature=6b7c29e8885105bc3de9c7da646a3436);
}

#cate12{
  background-image: linear-gradient(transparent, black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Amazon-.jpg);
}

#cate13{
  background-image: linear-gradient(transparent, black), url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F04%2FUntitled-design-11.png&signature=c4cbafafc4a7f63c44f4f4c46ea178ca);
}

#cate14{
  background-image: linear-gradient(transparent, black), url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F05%2Fimage5.png&signature=c9eddd7ee43e09e923e6ac4c2062e5d8);
}

#cate15{
  background-image: linear-gradient(transparent, black), url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F08%2Fbitcoin_today-header_bitcoin_today.jpg&signature=b75eca35f42accc83310a4fa4e562088);
}

#cate16{
  background-image: linear-gradient(transparent, black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Facebook-Discover-796x419.jpg);
}

#cate17{
  background-image: linear-gradient(transparent, black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/12/twitch-e1491600114230-796x398.jpg);
}

.cate1 > * {
  padding: 0.25rem 0;
}

.cate11 {
  font-weight: bold;
  font-size: 0.875rem;
  max-width: 24.125rem;
}

.cate12 {
  font-weight: bolder;
  font-size: 1.25rem;
}

.cate12:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cate13{
  font-size: 0.8125rem;
  color: #9D9D9D;
  cursor: pointer;
}

.cate2 {
  position: relative;
  height: 6.25rem;
  padding-left: 1em;
  display: flex;
  margin-top: 0.1em;
}

.cate21 {
  width: 70%;
  padding: 1em 0;
  color: #f42;
}

.cate211 {
  font-size: 0.9375rem;
  font-weight: lighter;
  padding-bottom: 0.3em;
}

.cate212 {
  font-size: 0.875rem;
  font-weight: bolder;
}

.cate212:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cate22 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Netflix-Featured_1-796x417.jpg");
  background-position: center;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
}

#cate221{
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Snag_16d2a6.png");
}

#cate222{
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/1-20.jpg");
}

#cate223{
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Screenshot-2020-04-22-at-16.14.16.png");
}

#cate224{
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/greta-thunberg.png");
}

#cate225{
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/acceleration2.png");
}

#cate226{
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/JioMart-WhatsApp-Ordering-hed.jpg");
}

#cate227{
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/ai-generator-dictioanry-words.png");
}

.cate3{
  padding: 1em 0 0 1em;
}

.cate31 {
  color: #f42;
  font-size: 0.875rem;
  border-bottom: 0.0625rem solid rgb(160, 159, 159);
  padding-bottom: 1em;
}

.cate31 a {
  text-decoration: none;
  color: #9D9D9D;
}

.cate31 a:hover {
  color: black;
}

.latest_deals {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.4rem;
}

.latest_deals1 {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 1.4rem;
  margin-bottom: 2rem;
}

.latest_deals11 {
  float: left;
  font-size: 1.5625rem;
  color: #FF4422;
  font-weight: 800;
}

.latest_deals12 {
  float: right;
  color: #FF4422;
}

.latest_deals211 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 12.5625rem;
  width: 16.875rem;
  margin-bottom: 0.5rem;
}

.latest_deals212, .latest_deals213 {
  width: auto;
  max-width: 16.125rem;

}

.latest_deals212{
  color: #131313;
  font-weight: bolder;
  padding-bottom: 0.5em;
}

.latest_deals213 {
  color: #9D9D9D;
  margin-bottom: 3rem;
}

.footer {
  margin-top: 1em;
  width: 100%;
  height: 15.625rem;
  background-color: black;
}

.footer1 {
  width: 100%;
  flex-direction: column;
  height: 59%;
  background-color: #131313;
}

.footer1, .footer2, .footer1 ul, .footer1 li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

#footer11 {
  width: 2.5rem;
  height: 2.5rem;
  padding: 1em;
  margin: 0.4em;
  background-color: #333333;
  border-radius: 50%;
  color: white;
}

#footer11:hover {
  background-color: black;
  border: 0.125rem solid #333333;
  cursor: pointer;
}

#footer12 {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0 2em;
  margin: 0.4em;
  color: white;
}

.footer2 {
  height: 41%;
}

.footer2 p {
  color: #9D9D9D;
}

.footer21 {
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {

  .face__one {
    grid-column: 1;
    grid-row: 1;
  }
  .face__two {
    grid-column: 1;
    grid-row: 2;
  }
  .face__three {
    grid-column: 1;
    grid-row: 3;
  }
}

@media (max-width: 1024px) {
  .hide_tnw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    background-color: #f42;
    padding: 1em;

  }
}

@media (max-width: 1214px) {
  #neural,
  #last__funding_hide {
    display: none;
  }

}

@media (max-width:820px){
  #about{
    display: none;
  }

  .nav__bar {
    width: 100%;
    margin-top: -0.1rem
  }

  .wrap_nav1 {
    z-index: 1;
  }

  .wrap_nav2 {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    z-index: 100;
  }

  .hide_tnw {
    height: 3em;
  }

  .buttonhide {
    display: block;
    background-color: white;
    color: #f42;
    border: none;
    height: 3rem;
    width: 3rem;
    font-size: 1.25rem;
  }

  .buttonsearch {
    border-top:  0.0625rem grey solid;
  }

  .third__nav {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .nav__bar {
    position: fixed;
  }
}

@media (max-width: 768px) {
  .main__flex {
    width: 98%;
  }

  .face__articles {
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr 1fr;
    height:56.25rem;
    font-size: 20px;
  }

  .face__one{
    height: 18.6875rem;
    grid-column: 1/2;
    grid-row: 1;
    width: 100%;
  }

  .face__two {
    height: 18.6875rem;
    grid-row: 2;
    width: 100%;
    grid-column: 1/2;
  }

  .face__three {
    height: 18.6875rem;
    grid-column: 1/2;
    grid-row: 3;
    width: 100%;
  }

  .face__logo{
    display: none;
  }

  .face__art {
    font-size: 20px;
  }

  .face__insigh {
    margin-top: 30%;
  }

  .face__art2 {
    font-size: 24px;
    margin-top: 30%;
    margin-right: 1rem;
  }

  .face__three p {
    font-size: 18px;
  }

  .face__three a {
    font-size: 24px;
    margin-top: 30%;
  }

  .face__insigh3 {
    display: none;
  }

  .lastest__title {
    margin-left: 1rem;
  }

  .lastest__news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .l__news {
    display: inline-grid;
    grid-template-columns: 5rem 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    width: 90%;
    height: 5rem;
    margin-bottom: 0.8rem;
  }
  .l__img {
    grid-column: 1;
    grid-row: 1/4;
    height: 5rem;
    width: 5rem;
  }
  .l__link {
    grid-column: 2;
    grid-row: 1;
    width: 80%;

  }
  .l__author {
    grid-column: 2;
    grid-row: 2;
    font-size: 12px;
  }

  .lastest__funding {
    display: none;
  }
  .hidden__funding {
    height: 8.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1.1rem;
    max-width: 72rem;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
  }

  .hidden__funding h2 {
    text-decoration: none;
    font-family: sans-serif;
    color: #f42;

  }
  .hidden__funding a {
    margin-top: 1rem;
    text-decoration: none;
    font-family: sans-serif;
    color: #f42;
  }

  .hidden__funding a:hover {
    color: black;
  }

  .lastest__border {
    border: none;
    margin:0;
    padding: 0;
  }

  .last__container {
    display: flex;
    flex-direction: column;
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .categories11 {
    max-width: 45rem;
  }

  .cate1 {
    max-width: 40rem;
  }

  .latest_deals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .latest_deals21 {
    display: inline-grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    width: 100%;
    width: 90%;
    height: 5rem;
    margin-bottom: 0.8rem;
  }

  .latest_deals211 {
  width: 5rem;
  height: 5rem;
  grid-column: 1;
  grid-row: 1/4;
  }

  .latest_deals212 {
    grid-row: 1/2;
    grid-column: 2/3;
    min-width: 40rem;
  }

  .latest_deals213 {
    grid-column: 2;
    grid-row: 2;
    font-size: 12px;
  }
  }
}
