*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__grid {
  margin: 0 auto;
  display:grid;
}
.nav__bar {
  width: 100%;
}

.first__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 32px;
  padding-left: 5px;
  padding-right: 10px;

}

.first__nav a {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 13px;
  margin-left: 15px;
  color: grey;
}

.first__nav a:hover {
  color:white;
}

.second__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  background-color: white;
  height: 48px;
}

.second__nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: sans-serif;
  font-size: 14px;
  padding: 18px 10px 0;
  opacity: 0.5;
}

.second__nav a:hover {
  opacity: 1;
}

.second__nav button {
  background-color: white;
  color: grey;
  border: none;
  border-bottom:  1px grey solid;
  height: 48px;
  width: 48px;
  font-size: 20px;
  transform:rotate(90deg);
  opacity: 0.5;
}

.second__nav button:hover {
  opacity: 1;
}

.third__nav {
  background-color: #fbd329;
  margin: 1 10px;
  padding: 4px 20px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
}

.face__articles {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  width: 100%;
  margin: 0.1rem 0.3rem;;
  max-width: 1350px;
}

.gradiant {
}

.face__one{
  grid-column: 1;
  grid-row: 1/3;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/money-funding-series-a-gq-796x417.png);
  background-size: cover;
}

.face__two {
  grid-column: 2;
  grid-row: 1;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/global-boardroom.jpg);
  background-size: cover;
  width: 438px;
  height: 223px;
}

.face__three {
  grid-column: 2;
  grid-row: 2;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/09/Google-Play-Music-India-796x398.jpg);
  background-size: cover;
  width: 438px;
  height: 223px;
}

/* .lastest__container {
  display: flex;
  flex-direction: column;
  margin-left: 6.1rem;
  min-height: 700px;

} */

.lastest__title {
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 6.1rem;
}

.lastest__title a {
  text-decoration: none;
  font-family: sans-serif;
  color: #f42;
}

.lastest__title a:hover {
  color:black;
}

.lastest__news {
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  width: 1192px;
  height: 700px;
  padding: 0 20px;
}

.l__news {
  display: inline-flex;
  flex-direction: column;
  flex-basis: 25%;
  max-width: 25%;
  width: 251px;
  height: 294px;
}

.l__img {
  width: 270px;
  height: 135px;
}

.l__link {
  width: 253px;
  height: 39px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: black;
}

.l__link:hover {
  box-shadow: inset 0 -1px 0 rgba(255,68,34,.25);
  color: #f42;
}

.l__author {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: gray;
}

.l__author:hover {
  color: black;
}

.lastest__funding {
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 6.1rem;
  margin-right: 6.1rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.lastest__funding h2 {
  text-decoration: none;
  font-family: sans-serif;
  font-size:
  color: #f42;
}
.lastest__funding a {
  text-decoration: none;
  font-family: sans-serif;
  color: #f42;

}

.lastest__funding a:hover {
  color: black;
}

.lastest__border {
    border-left: 1px #f42 solid;
    margin-left: 1rem;
    padding-left: 1rem;
}

#a__news {
  color: white;
  font-weight: bold;
}






/* juanstyle */

.latest_deals1 {
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  height: 30px;
  margin: 1em 3em;
}

.latest_deals11 {
  float: left;
  font-size: 25px;
  color: #FF4422;
  font-weight: 800;
}

.latest_deals12 {
  float: right;
  color: #FF4422;
  font-size: 18px;
}

.latest_deals2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.latest_deals211 {
  background-size: contain;
  background-position: center;
  background-image: url("https://cdnp1.stackassets.com/bf543d0b3a4c300330ad77e5932d475744ed174a/store/79e5fcfc0d078b39e786a11508eeff0d3baf8502b9120bbbacf401b717da/sale_28087_primary_image.jpg");
  background-repeat: no-repeat;
  width: auto;
  height: 250px;
  max-width: 290px;
  margin: 0 1em;
}

.latest_deals212, .latest_deals213 {
  width: auto;
  max-width: 290px;
  margin:   0 1em;
}

.latest_deals212{
  color: #131313;
  font-weight: bolder;
  padding-bottom: 0.5em;
}

.latest_deals213 {
  color: #9D9D9D;
  padding-bottom: 1em;
}

.footer {
  margin-top: 1em;
  width: 100%;
  height: 250px;
  background-color: black;
}

.footer1 {
  width: 100%;
  flex-direction: column;
  height: 59%;
  background-color: #131313;
}

.footer1, .footer2, .footer1 ul, .footer1 li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

#footer11 {
  width: 40px;
  height: 40px;
  padding: 1em;
  margin: 0.4em;
  background-color: #333333;
  border-radius: 50%;
  color: white;
}

#footer11:hover {
  background-color: black;
  border: 2px solid #333333;
  cursor: pointer;
}

#footer12 {
  width: 40px;
  height: 40px;
  padding: 0 2em;
  margin: 0.4em;
  color: white;
}

.footer2 {
  height: 41%;
}

.footer2 p {
  color: #9D9D9D;
}

.footer21 {
  color: white;
  cursor: pointer;
}
